@use '../abstracts/' as *;
@use 'sass:list';
@use 'sass:color';
@use 'sass:map';

@layer pages {
  // 발령이력
  .history{	
    .tbl-area:has(.tbl-history){flex:none;}
    .tbl-history{max-height:246px;
      th,td{
        &:nth-of-type(1),
        &:nth-last-of-type(1),
        &:nth-last-of-type(3){text-align:center;width:145px;}
        &:nth-last-of-type(2){width:400px;}
        &:nth-last-of-type(3){width:80px;}
      }
    }	
    .tbl-recv{
      th,td{
        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6){width:200px;}
      }
    }
    .tbl-term{
      th,td{
        &:nth-last-of-type(3){width:200px;}
        &:nth-last-of-type(2){text-align:center;width:100px;}
      }
    }
    .tab__card{flex:1;@include flex($direction:column,$align:stretch);min-height:0;}
  }
}